<!-- Admin Products view -->
<section>
    <div class="container">
        <h3 class="mt-3 mb-4 text-center">User Orders</h3>
        <table class="table mt-4">
            <thead>
                <tr>
                    <th scope="col">Number</th>
                    <th scope="col">Date</th>
                    <th scope="col">Address</th>
                    <th scope="col">Pincode</th>
                    <th scope="col">Mobile</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Payment</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                {{#each orders}}
                <tr>
                    <td>1</td>
                    <td>{{this.deliveryDetailes.date}}</td>
                    <td>{{this.deliveryDetailes.address}}</td>
                    <td>{{this.deliveryDetailes.pincode}}</td>
                    <td>{{this.deliveryDetailes.mobile}}</td>
                    <td>{{this.total}}</td>
                    <td>{{this.paymentMethod}}</td>
                    <td>{{this.status}}</td>
                    <td><a href="/admin/user-order-products/{{this._id}}" class="btn btn-primary">View Products</a></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</section>