<!-- Admin Products view -->
<section>
    <div class="container">
        <div class="row mt-4">
            <a href="admin/add-product" class="btn btn-success " style="width: 25%; margin-left: auto">Add Product</a>
        </div>
        <table class="table mt-4">
            <thead>
                <tr>
                    <th scope="col">Number</th>
                    <th scope="col">Name</th>
                    <th scope="col">Category</th>
                    <th scope="col">Description</th>
                    <th scope="col">Price</th>
                    <th scope="col">Image</th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr>
                    <th scope="row">1</th>
                    <td>{{this.name}}</td>
                    <td>{{this.category}}</td>
                    <td>{{this.description}}</td>
                    <td>{{this.price}}</td>
                    <td><img src="/product-images/{{this._id}}.jpg" alt="image" style="width: 180px;height: 100px"></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</section>